::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
  border-left: 1px solid #dddddd;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  color: $base-font-color;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $gray-light;
  font-family: $base-font-family;
}

button {
  color: $base-font-color;
  border: none;
  transition: .5s;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// 標題標籤
@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    padding: 8px 0;
    font-weight: 600;
  }
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4,
h5,
h6,
span {
  font-size: $base-font-size;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pointer-events-none {
  pointer-events: none
}

.markdown-body {
  pre {
    background-color: #333333;

    code {
      color: #aaaaaa;
    }
  }

  code {
    color: #666666;
    background-color: #dedede;
  }

  .hljs-comment {
    color: #999999;
  }
}