$white: #ffffff;
$gray-light: #f9f9f9;
$primary: #42b983;

$base-font-family: 'Noto Sans TC', Arial, sans-serif, 'Microsoft JhengHei';
$base-font-size: 14px;
$base-font-color: #2c3e50;

$desktop: 1200px !default;
$tablet-landscape: 992px !default;
$tablet-protrait: 768px !default;
$phone: 576px !default;

// BEM 參數
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';

// 函式 & 混用
@import 'variables/func';
@import 'variables/mixin';

// 覆寫 Element UI 變數
@import 'element-ui/element-variables.scss';